.transactionsHistory{
    border-collapse: collapse;
    width: 100%;
}

.thead{
text-align: left;
padding: 8px;
border-bottom: 1px solid #000;
}

.tType{

}

.tAmount{

}

.tCurrency{

}

.tableRow{
background-color: #cfccccff;
}